.hangmanDrawing {
  position: relative;
}

.hangmanDrawingPart1 {
  height: 50px;
  width: 10px;
  background: black;
  top: 0;
  right: 0;
  position: absolute;
}

.hangmanDrawingPart2 {
  height: 10px;
  width: 200px;
  background: black;
  margin-left: 120px;
}

.hangmanDrawingPart3 {
  height: 400px;
  width: 10px;
  background: black;
  margin-left: 120px;
}

.hangmanDrawingPart4 {
  height: 10px;
  width: 250px;
  background: black;
}

.head {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 10px solid black;
  position: absolute;
  top: 50px;
  right: -30px;
}

.body {
  width: 10px;
  height: 100px;
  background: black;
  position: absolute;
  top: 120px;
  right: 0;
}

.rightArm {
  width: 100px;
  height: 10px;
  background: black;
  position: absolute;
  top: 150px;
  right: -100px;
  rotate: -30deg;
  transform-origin: left bottom;
}

.leftArm {
  width: 100px;
  height: 10px;
  background: black;
  position: absolute;
  top: 150px;
  right: 10px;
  rotate: 30deg;
  transform-origin: right bottom;
}

.rightLeg {
  width: 100px;
  height: 10px;
  background: black;
  position: absolute;
  top: 210px;
  right: -90px;
  rotate: 60deg;
  transform-origin: left bottom;
}

.leftLeg {
  width: 100px;
  height: 10px;
  background: black;
  position: absolute;
  top: 210px;
  right: 0;
  rotate: -60deg;
  transform-origin: right bottom;
}
